<div id="general-controls" ng-controller="GeneralCtrl">
  
  <!-- General information form -->
  <form 
        role="form" 
        name="generalInfoForm" 
        novalidate="novalidate" 
        ng-model="generalForm">

    <lc-string-input
        required="true" 
        label="Наименование изделия"
        input-id="name" 
        input-object="generalInfoForm.name"
        submitted="submitted">
    </lc-string-input> 
    
    <lc-select-input
        required="true" 
        label="Вид испытаний" 
        input-id="type"
        input-object="generalInfoForm.type" 
        options="options" 
        selected-option="selectedType"
        submitted="submitted">
    </lc-select-input>   
    
    <lc-string-input 
        required="true"
        label="Руководящий документ" 
        input-id="doc" 
        input-object="generalInfoForm.doc"
        submitted="submitted">
    </lc-string-input>

    <lc-text-input
        required="true" 
        label="Комментарий" 
        rows="5" 
        input-id="comment"
        input-object="generalInfoForm.comment"
        submitted="submitted">
    </lc-text-input>

  </form>

  <!-- Submit button -->
  <button ng-click="OnSubmit()">Далее</button>

</div>