//-
    Source: calculation/views/climatic-partials/sub-partials/temperature-change-form.jade 
    Project: dep73-calc
    Description: A form for temperature change tests
    Author: Alexander Tatchin | github.com/sancau

.temperatureChange

    pre
        h4 Форма для изменения температуры 
        h5 Обсудить содержимое