//-
    Source: calculation/views/climatic-partial/climatic-partial.jade 
    Project: dep73-calc
    Description: Partial view for climatic data inputs 
    Author: Alexander Tatchin | github.com/sancau

#climatic-controls(ng-controller="ClimaticCtrl")
    
    #blocks(ng-repeat="block in blocks")   
   
        //- Form for a block of inputs
        form(role="form", 
             name="block.climaticForm", 
             novalidate="novalidate", 
             ng-model="block.climaticFormModel")
                
            //- Visible only if the block type is already chosen
            #block-verbose-name(ng-hide="!block.selectedOption")
                h4 {{ getName($index + 1) }} ({{ block.selectedOption.name }}) 
                hr
                
            //- Allows user to select type for the block
            #type-selector.form-group
                label(for="type") Вид испытаний
                
                select(ng-model="block.selectedOption",
                       ng-options="option as option.name for option in options")
                             
            //- Includes the appropriate form view depending on the block's type
            #form-include(ng-include="block.selectedOption.formView")

        //- Delete block button
        button(ng-click="delete(block)") Удалить блок
        hr

    //- Submit button
    button(ng-click="saveChanges()") {{ saveChangesButtonContent }}
    
    //- Clone block button
    button(ng-click="clone()") Добавить блок