<!-- A partial view for climatic data inputs -->
<div id="climatic-controls" ng-controller="ClimaticCtrl">
  
  <div ng-repeat="block in blocks">
    
    <!-- An empty line becomes invisible when user selects a block type -->
    <br ng-hide="selectedOption"/>      
    
    <!-- Form for an inputs block -->
    <form       
        role="form" 
        name="climaticForm" 
        novalidate="novalidate" 
        ng-model="climaticForm">        
      
      <!-- Visible only if the type for the block is chosen -->
      <div ng-hide="!selectedOption">

        <hr />
        <!-- Displaying a verbose name for a block -->
        <h4>{{ getName($index + 1) }} ({{ selectedOption.name }})</h4> 
        <hr />

      </div>
      
      <!-- Allows user to select a block type -->
      <div class="form-group">

        <label for="type">Вид испытаний:</label>

        <select ng-model="selectedOption"
                ng-options="option as option.name for option in options">
        </select>

      </div>
      
      <!-- Includes the appropriate form view based on user selection -->
      <div ng-include="selectedOption.formView"></div>

    </form>
    
    <!-- Delete block button -->
    <button ng-click="delete(block)">Удалить блок</button>

  </div>

  <br />

  <!-- Submit button -->
  <button ng-click="OnSubmit()">Далее</button>

  <!-- Clone block button -->
  <button ng-click="clone()">Добавить блок</button>

</div>