//-
    Source: list/views/list-view.jade 
    Project: dep73-calc
    Description: Main view for the list module 
    Author: Alexander Tatchin | github.com/sancau

.well(ng-controller="ListCtrl")
    
    a(ui-sref="calculation-new")
        button.btn Новый расчёт
    
    hr
    h3 История расчётов
    hr
    
    table#list-view.table.table-striped
        thead
            tr
                th Изделие
                th Вид испытаний
                th Составитель
                th Последнее изменение
        tbody

        tr(
            ng-repeat="calculation in listCollection",
            ng-click="showCalculation(calculation)"
        )
            td {{ calculation.name }}
            td {{ calculation.type }}
            td {{ calculation.author }}
            td {{ calculation.edited }}

    hr
    h5 TODO:
    ul
        li List view of all the calculation in the DB
        li User can proceed to a certain calculation view by clicking it's row in the list view
        li User can clone existing calculation to use it as the base for a new one
        li User can delete existing calculation
    