//-
    Source: preset/preset-view.jade 
    Project: dep73-calc
    Description: Main view for the preset module 
    Author: Alexander Tatchin | github.com/sancau

.well
    h3 Профили настроек
    hr
    
    pre {{ preset.presets }}

    h5 TODO:
    ul
        li Select field with available presets
        li At least one default preset available
        li Preset view (editable if edit button is pressed)
        li User can modify default preset and save it by changing it's name and clicking save
        li Edit button
        li Save button
        li Can't overwrite default preset