//-
    Source: calculation/views/climatic-partials/sub-partials/humidity-form.jade 
    Project: dep73-calc
    Description: The form for humidity test calculation 
    Author: Alexander Tatchin | github.com/sancau

.humidity
    .form-group
        label(for="hum-value") Значение влажности
        input#hum-value.form-control(type="text")
    .form-group
        label(for="hum-value") Количество часов
        input#hours-hum.form-control(type="text")
