/* Removes accordion header outline */
* {
  outline: 0 !important;
}

a {
  color: inherit;
}

p {
  margin: 0px;
  padding: 0px;
}

/* Defines cursor view for AngularJS controls */
[ng-click] {
  cursor:pointer;
}

/* Forms panel styles */
#forms-panel {
  width:50%;
}

/* Status panel styles */
#status-panel {
  background-color:#f8f8f8;
  float:right;
  width:50%;
  padding-left: 10px;
}

/* Defines "sticky" behavior of the status panel */
.ng-sticky-behaviour{
  margin-top: 0px;
  overflow-y:auto;
  position:fixed;
  right:0;
  top:0;
  width:50%;
}

/* List view styles */

#list-view tr:hover {
  background-color: #efefef; 
}

/* Header styles */
#header {
  margin-top: 10px;
}

/* Main container styles */
#main-content {
  margin-top: 10px;
}
