//-
    Source: list/views/list-view.jade 
    Project: dep73-calc
    Description: Main view for the list module 
    Author: Alexander Tatchin | github.com/sancau

.well
    
    a(ui-sref="calculation-new")
        button.btn Новый расчёт
    
    hr
    h3 История расчётов
    hr
    
    pre(ng-hide="!list.calculationsList.length == 0") Пока расчётов нет
    table#list-view.table.table-striped(ng-hide="list.calculationsList.length == 0")
        thead
            tr
                th Изделие
                th Вид испытаний
                //- th Составитель
                th Последнее изменение
        tbody

        tr(
            ng-repeat="calculation in list.calculationsList",
        )
            td(ng-click="list.showCalculation(calculation)") {{ calculation.general.name }}
            td(ng-click="list.showCalculation(calculation)")  {{ calculation.general.type.label }}
            //- td(ng-click="list.showCalculation(calculation)")  {{ calculation.meta.author || 'Нет данных' }}
            td(ng-click="list.showCalculation(calculation)")  {{ calculation.meta.edited | date:'MM/dd/yyyy' }}
            td 
                button.btn.btn-success(ng-click='list.createReport(calculation)') Создать отчёт
            td 
                button.btn.btn-danger(ng-click='list.delete(calculation)') Удалить расчёт

div.row
    pre {{ list.monitor | json }}
